@charset="UTF-8";
section#corpo1 ul#albumfotos {
	list-style: none;
	padding: 50px 60px 50px 70px;
	margin: 20px;
	overflow: hidden;
	background-color: rgba(255,255,255,1); 
}
section#corpo1 {
	box-shadow: 0px 0px 2px;
	border-radius: 6px 6px 6px;
}
section#corpo1 ul#albumfotos li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 1px solid white;
	
}
section#corpo1 h3 {
	font-family: Calibri;
	margin-left: 20px;
	padding-top: 10px;
}
section#corpo1 ul#albumfotos span {
	font-family: Calibri;
	padding: 5px;
	margin-left: 29px;
	background-color: rgba(0,0,0,.3);
	line-height: 140px;
}
section#corpo1 ul#albumfotos li:hover {
	transition: 0.4s;
	-webkit-transform: scale(1.2);
}
section#corpo1 ul#albumfotos span {
	opacity: 0;
}
section#corpo1 ul#albumfotos li:hover span {
	transition: 1s;
	opacity: 1;
}
section#corpo1 ul#albumfotos li#foto1 {
	background: url('piracicabaimg/img1.jpg') no-repeat;
	background-size: 150px 200px; 
	background-position: 50% 50%;
}
section#corpo1 ul#albumfotos li#foto2 {
	background: url('piracicabaimg/img2.jpg') no-repeat;
	background-size: 150px 200px; 
	background-position: 50% 50%;
}
section#corpo1 ul#albumfotos li#foto3 {
	background: url('piracicabaimg/img3.jpg') no-repeat;
	background-size: 150px 200px; 
	background-position: 50% 50%;
}
section#corpo1 ul#albumfotos li#foto4 {
	background: url('piracicabaimg/img4.jpg') no-repeat;
	background-size: 150px 200px; 
	background-position: 50% 50%;
}
section#corpo1 ul#albumfotos li#foto5 {
	background: url('piracicabaimg/img5.jpg') no-repeat;
	background-size: 150px 200px; 
	background-position: 50% 50%;
}
section#corpo1 ul#albumfotos li#foto6 {
	background: url('piracicabaimg/img6.jpg') no-repeat;
	background-size: 150px 200px; 
	background-position: 50% 50%;
}
